{% extends "blog/base.html" %}
{% load blog_tags %}
{% load static %}
{% block content %}
<!-- Page Header-->
<!-- <header class="masthead" style="background-image: url('{% static "assets/img/home-bg.jpg" %}')"> -->
<header class="masthead" style="background-image: url(https://picsum.photos/1186/790?blur=2)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Django4 Blog</h1>
                    {% if tag %}
            <h3 class="subheading">Posts tagged with "{{ tag.name }}"</h3>
            {% else %}
            <span class="subheading">Demonstration App</span>
        {% endif %}
        
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        
        {% for post in posts %}
        <!-- Post preview-->
        <div class="post-preview">
            <a href="{{ post.get_absolute_url }}">
              <h2 class="post-title">{{ post.title }}</h2>
            </a>
            <p class="post-meta">
              Posted by {{ post.author }} on {{ post.publish }}
              {% if post.tags.all %}
                  <p class="post-meta">Tags:
                      {% for tag in post.tags.all %}
                          <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                          {% if not forloop.last %},
                          {% endif %}
                      {% endfor %}
                  </p>
              {% endif %}
            </p>
            {{ post.body|markdown|truncatewords_html:30}}<a href="{{ post.get_abolute_url }}">read more...</a>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
          {% include "pagination.html" with page=posts %}
        </div> 
      </div>
    </div>
</div>
{% endblock %}